#form-user{
    text-align: center;
}
#form-user input{
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    font-size: 18px;
    width: 24%;
    padding: 0px 0px 2.2px 5px;
    margin: 10px 0px 0px 22px;
}
#form-user label{
    font-size:20px;
    font-weight: 400;
}
#form-user button{
    font-size:20px
}
#password{
    margin-left: 17px;
}
.email{
    margin-left:51px !important
}